* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo_principal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

header {
  margin: 0;
  margin-top: 0;
  background-color: black;
  top: 0px;
}

footer {
  background-color: black;
  color: white;

  padding: 1rem;
  margin-top: auto;
  font-size: small;
}

/*  BARRA DE NAVEGACION   */
/* @import url("https://fonts.googleapis.com/css?family=Titillium+Web:400,600"); */

/*cambia el color del fondo */
body {
  background: rgb(243, 243, 243);
  padding-top: 0px;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* font-family: "Michroma", sans-serif; */
}

.nav {
  /* font-family: "Titillium Web"; */
  text-transform: uppercase;
  text-align: left; /* decia center antes*/
  font-weight: 600;
}

.nav * {
  box-sizing: border-box;
  transition: all 0.35s ease;
}

.nav li {
  display: inline-block;
  list-style: outside none none;
  margin: 0.5em 1em;
}

/* ACA modifiico el color de las palabras entre otras cosas*/
.nav a {
  padding: 0.5em 0.8em;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  text-decoration: none;
  font-size: 20px;
}

.nav a::before,
.nav a::after {
  content: "";
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all 0.35s ease;
  opacity: 0;
}

.nav a::before {
  content: "";
  right: 0;
  top: 0;
  border-top: 3px solid #3e8914;
  border-right: 3px solid #2e640f;
  transform: translate(-100%, 50%);
}

.nav a:after {
  content: "";
  left: 0;
  bottom: 0;
  border-bottom: 3px solid #2e640f;
  border-left: 3px solid #3e8914;
  transform: translate(100%, -50%);
}

.nav a:hover:before,
.nav a:hover:after {
  transform: translate(0, 0);
  opacity: 1;
}

.nav a:hover {
  color: #3da35d;
}

/*BARRA DE BUSQUEDAAAAA*/

input {
  /* font: inherit; */
}

section {
  min-height: 10vh;
  display: flex;
  align-items: center;
}
form {
  margin: auto;
}

form input:focus {
  outline: none;
}

.marcas {
  width: 10rem;
  height: 5rem;

  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.pcs {
  width: 10rem;
  height: 10rem;
}

.monitor {
  width: 20rem;
  height: 10rem;
}

.teclado_destacado {
  width: 60rem;
  height: 30rem;
}

.table-wrapper {
  display: flex;
  justify-content: center;
}

#label_de_marcas {
  position: relative;
  justify-content: center;
  margin-left: 0;
  left: 40%;
  height: 1rem;
}

#producto_destacado_1 {
  left: 0;
}

#producto_destacado_2 {
  right: 0;
}

#producto_destacado_3 {
  width: 20rem;
  height: 10rem;
}

.imagen_fondo {
  background-image: url("../imgs/fondo/fondo_2.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
}

.card_1_aux {
  margin: 1rem;
  padding-top: 1rem;

  background-color: white;
  background-size: cover;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 2px 2px 4px rgb(9, 235, 39);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  width: 45rem;
  height: 15rem;
}

.card_2_aux {
  margin-left: 1rem;
  padding-top: 1rem;

  background-color: white;
  background-size: cover;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 2px 2px 4px rgb(179, 27, 27);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  width: 30rem;
  height: 15rem;
}

.card_3_aux {
  margin-left: 1rem;
  padding-top: 1rem;

  background-color: white;
  background-size: cover;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 2px 2px 4px rgb(255, 174, 0);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  width: 50rem;
  height: 40rem;
  margin-bottom: 4rem;
}
.section_donde_estamos {
  display: flex;
  justify-content: center;
}

.productos_destacados {
  margin-top: 1rem;
  margin-left: 12rem;
}

.mejores_marcas {
  margin-top: 5px;
  margin-left: 5rem;
  margin-bottom: 1rem;
}

.listas {
  list-style: none;
}

.redes_sociales {
  display: flex;
  font-size: medium;
  justify-content: center;
  gap: 0.5rem;
}

.copyright {
  display: flex;
  justify-content: center;
  font-size: small;
  color: rgb(150, 165, 165);
}

.footer_horario {
  margin-top: 0;
  text-align: left;
}

#p_donde_estamos {
  margin: 1rem;
}

.tabla {
  border: hidden;
  text-align: center;
  vertical-align: middle;
  width: 1000px;
}

.tabla_correr_izquierda {
  text-align: left;
}
